.review-listing-container .small {
  font-size: .75em;
  color: gray;
}
.review-listing-container a,
.review-listing-container {
  color: #3a3a3a !important;
}

.birdeye-review-summary article {
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}
.birdeye-review-summary article:last-of-type {
  border-bottom: 0px;
}
.review-listing-header {
  display: flex;
}
.review-listing-header h4 {
  margin-bottom: 0px;
}
.review-listing-header img {
  max-width: 50px;
}
.review-listing-header .avatar {
  margin-right: 10px;
}
.review-listing-container p {
  margin-bottom: 0px;
}
.review-listing-container i {
  color: #ffb300;
}
